
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="alert alert-danger"
                           role="alert">{{ field.label_tag }} {{ error|escape }}</p>
                    {% endfor %}
               {% endfor %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group pb-2">
                            <label class="mb-2 text-dark"
                                   for="id_name">Название компании
                            </label>
                            <input class="form-control" name="name"
                                   type="text" maxlength="255"
                                    {% if form.is_bound %}
                                   value="{{ form.name.value }}"
                                   {% elif form.instance %}
                                   value="{{ form.instance.name }}"
                                    {% endif %}
                                   id="id_name">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="mb-2 text-dark"
                                   for="id_logo">Логотип</label>
                            <div class="row align-items-center">
                                <div class="col-6">
                                    {% if form.instance.logo %}
                                        <img src="{{ form.instance.logo.url }}"
                                         alt=""
                                         style="max-width: 120px;height: auto;">
                                        {% else %}
                                        <img src="https://place-hold.it/120x40"
                                         alt=""
                                         style="max-width: 120px;height: auto;">
                                    {% endif %}

                                </div>
                                <div class="col-6"
                                     style="position: relative;">
                                    <div class="input-group-prepend"
                                         style="position: absolute; top: 0;right: 15px;">
                                        <span class="btn btn-info px-4">Загрузить</span>
                                    </div>
                                    <div class="custom-file"
                                         style="">
                                        <input type="file"
                                               name="logo"
                                               accept="image/*"
                                               id="id_logo"
                                               class="custom-file-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group pb-2">
                            <label class="mb-2 text-dark"
                                   for="id_employee_count">Количество
                                человек в компании</label>
                            <input name="employee_count"
                                   class="form-control" type="text"
                                    {% if form.is_bound %}
                                   value="{{ form.employee_count.value }}"
                                   {% elif form.instance.employee_count %}
                                   value="{{ form.instance.employee_count }}"
                                    {% endif %}
                                   id="id_employee_count">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group pb-2">
                            <label class="mb-2 text-dark"
                                   for="id_location">География</label>
                            <input class="form-control"
                                   name="location" type="text"
                                    {% if form.is_bound %}
                                   value="{{ form.location.value }}"
                                   {% elif form.instance.location %}
                                   value="{{ form.instance.location }}"
                                    {% endif %}
                                   id="id_location"
                                   maxlength="255" required>
                        </div>
                    </div>
                </div>
                <div class="form-group pb-2">
                    <label class="mb-2 text-dark"
                           for="id_description">Информация о&nbsp;компании</label>
                    <textarea name="description"
                              id="id_description"
                              class="form-control" rows="4"
                              id="companyInfo" style="color:#000;">{% if form.is_bound %}{{ form.description.value }}{% elif form.instance.description %}{{ form.instance.description }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info"
                           value="Сохранить">
                </div>
            </form>

