{% extends 'base.html' %}
{% block content %}
    {% if not resume %}
        <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
            <div class="card-body px-3 pb-4">
                <h1 class="h4 pt-2">Мое резюме</h1>
                <p class="mt-2">У вас нет резюме. Хотите создать его?</p>
                <a href="{% url 'vacancies:resume_create_view' %}"
                   class="btn btn-info mb-2">Создать резюме</a>
            </div>
        </section>
    {% else %}
        <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
            <div class="card-body px-3 pb-4">
                <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-info" role="alert">
                            {{ message }}
                        </p>
                    {% endfor %}
                {% endif %}
                {% include 'includes/resume_form.html' %}
            </div>
        </section>
    {% endif %}
{% endblock %}
