{% extends 'base.html' %}
{% load vacancies_extras %}
{% block content %}
    <div class="row mt-5">
        {% include 'includes/navbar_in_account.html' %}
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4 tab-content">
                    <!-- Tab -->
                    <section>
                        <h2 class="h4 pt-2 pb-3">Backend Middle/Senior</h2>
                        <p class="alert alert-info" role="alert">Вакансия
                            обновлена</p>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p class="alert alert-danger"
                                       role="alert">{{ error|escape }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <form method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group pb-2">
                                        <label class="mb-2 text-dark"
                                               for="id_title">
                                            Название вакансии
                                        </label>
                                        <input name="title"
                                               class="form-control" type="text"
                                                {% if form.is_bound %}
                                               value="{{ form.title.value }}"
                                                {% elif form.instance %}
                                               value="{{ form.instance.title }}"
                                                {% endif %}
                                               id="id_title">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group pb-2">
                                        <label class="mb-2 text-dark"
                                               for="id_specialty">
                                            Специализация
                                            {{ form.specialty|add_class:'custom-select mr-sm-2' }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group pb-2">
                                        <label class="mb-2 text-dark"
                                               for="id_salary_min">
                                            Зарплата от
                                        </label>
                                        <input name="salary_min"
                                               class="form-control" type="text"
                                                {% if form.is_bound %}
                                               value="{{ form.salary_min.value }}"
                                                {% elif form.instance %}
                                               value="{{ form.instance.salary_min }}"
                                                {% endif %}
                                               id="id_salary_min">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group pb-2">
                                        <label class="mb-2"
                                               for="id_salary_max">
                                            Зарплата до
                                        </label>
                                        <input name="salary_max"
                                               class="form-control" type="text"
                                                {% if form.is_bound %}
                                               value="{{ form.salary_max.value }}"
                                                {% elif form.instance %}
                                               value="{{ form.instance.salary_max }}"
                                                {% endif %}
                                               id="id_salary_max">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark"
                                       for="id_skills">
                                    Требуемые навыки
                                </label>
                                <textarea name="skills" class="form-control"
                                          rows="3"
                                          id="id_skills"
                                          style="color:#000;">
                                    {% if form.is_bound %}
                                        {{ form.skills.value }}
                                    {% elif form.instance %}
                                        {{ form.instance.skills }}
                                    {% endif %}
                                </textarea>
                            </div>
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark"
                                       for="id_description">
                                    Описание вакансии
                                </label>
                                <textarea name="description"
                                          class="form-control" rows="13"
                                          id="id_description"
                                          style="color:#000;">
                                    {% if form.is_bound %}
                                        {{ form.description.value }}
                                    {% elif form.instance %}
                                        {{ form.instance.description }}
                                    {% endif %}
                  </textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-info"
                                       value="Сохранить">
                            </div>
                        </form>
                        <!-- END Vacancy info -->
                        <!-- Applications -->
                        <h2 class="h4 pt-2 pb-3">Отклики - 2</h2>
                        <!-- Application 1 -->
                        <div class="card mt-3">
                            <div class="card-body px-4">
                                <p class="mb-1 font-weight-bold">Семёнов
                                    Зельфик Геннадиевич</p>
                                <p class="mb-2"><a href="tel:+79002842324"
                                                   class="text-dark">+7 (900)
                                    284-23-24</a></p>
                                <p class="mb-1">Я&nbsp;хотел&nbsp;бы работать в&nbsp;компании
                                    &laquo;АБВГД&raquo; программистом мобильных
                                    приложений. Мой опыт работы в&nbsp;программировании
                                    около 4&nbsp;лет (последние 1,5 года
                                    занимаюсь разработкой приложений.</p>
                            </div>
                        </div>
                        <!-- END Application 1 -->
                        <!-- Application 1 -->
                        <div class="card mt-3">
                            <div class="card-body px-4">
                                <p class="mb-1 font-weight-bold">Сорокина Акра
                                    Павловна</p>
                                <p class="mb-2"><a href="tel:+79002842324"
                                                   class="text-dark">+7 (900)
                                    284-23-24</a></p>
                                <p class="mb-1">Добрый день! Увидела объявление
                                    о&nbsp;вашей вакансии. Заранее благодарю
                                    Вас за&nbsp;уделенное моей кандидатуре
                                    время. С&nbsp;уважением.</p>
                            </div>
                        </div>
                        <!-- END Application 1 -->
                        <!-- END Applications -->
                    </section>
                    <!-- END Tab -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

