{% extends 'base.html' %}
{% block content %}
    <div class="row mt-5">
        {% include 'includes/navbar_in_account.html' %}
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4 tab-content">
                    <!-- Tab -->
                    <section>
                        <h2 class="h4 pt-2 pb-3">{{ vacancy.specialty }} Middle/Senior</h2>
                        {% include 'includes/vacancy_form.html' %}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

